.lg-spinner-btn {
  position: relative;

  button {
    color: #fff;
    text-align: center;
    padding: 11px 0;
    font-size: 18px;
    border-radius: 3px;
    outline: none;
    border: none;
    width: 100%;
    background-color: $primary;

    &:hover {
      background-color: $primary-lighter;
    }

    &:active {
      background-color: $primary;
    }
  }

  .horiz-spinner {
    display: none;
    top: 13px;
    left: calc((100% - 70px)/2);
  }

  &.loading {
    button {
      color: transparent;
    }

    .horiz-spinner {
      display: block;
    }
  }

  &.complete {
    button {
      background-color: $primary;
    }
  }
}